  html, body {
 	font-family: "Times New Roman", Times;
 	margin: 0;
 }
.container {
 	width: 100%;
 	max-width: 996px;
  margin: 0 auto;
 }
 .main {
 padding: 0 20px;  
 }
 .page-title {
 }
 .page-description {
 }
