  html, body {
 	font-family: "Times New Roman", Times;
 	margin: 0;
 }
 h1 {
 	font-size: 48px;
 }
 h3 {
 	font-size: 2.6rem;
 .main {
 	padding-left: 30px;
 	min-width: 75%;
 }
 }
 .page-title {
 	font-weight: 100;
 }
 .page-description {
 	border: 1px solid #000;
 	padding: 30px;
 }
 .container {
 	width: 100%;
 	max-width: 996px;
 }
